.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul li {
  border-bottom: 1px solid #4fbe9a;
  padding-bottom: 9px;
  width: 96%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border: 1px solid gray;
  overflow: auto;
}
table tr td {
  min-width: 50px;
  text-align: left;
  border: 1px solid gray;
}
table thead {
  background-color: #4fbe9a;
  color: whitesmoke;
}
table thead tr td {
  text-align: center;
}
small {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
